name: Upload Website

on:
    push:
        branches: 
           -master

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Upload to S3
              uses: jakejarvis/aws-s3-sync-action@master
              with:
                args: --acl public-read --follow-symlinks --delete
              env:
                AWS_S3_BUCKET: ${{ secrets.AWS_S3-BUCKET }}
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_REGION: 'us-east-1'
                
